<h2>edit post</h2>
<form action="/admin/posts/edit/{{post._id}}?_method=PUT" method="post">
    <input required name="title" type="text" id="title" value="{{post.title}}">
    <label for="file">File upload</label>
    <input type="file" name="file">
    <input name="imgAlt" type="text" id="imgAlt" placeholder="image alt">
    <label for="allowComments">
        <input name="allowComments" type="checkbox" {{#if post.allowComments}} checked="checked" {{/if}}
            id="allowComments">
        Allow Comments
    </label>
    <label for="tags">Tags</label>
    <input name="tags" type="tags" id="tags" placeholder="tags"
        value="{{post.tags}}">
    <textarea required name="short" id="short">{{post.short}}</textarea>
    <textarea required name="body" id="body">{{post.body}}</textarea>
    <button type="submit">update</button>
</form>