{{#each posts}}
<article>
  <a href="/post/{{slug}}">
    <h3>{{title}}</h3>
  </a>
  <i><small>posted on: {{generateDate date 'DD/MM/YYYY'}}</small></i>
  <p>
    {{short}}
    <a href="/post/{{slug}}"><i>more &rarr;</i></a>
  </p>
  {{#each tags}}
  <a href="/tag/{{this}}"><i>#{{this}}</i></a>
  {{/each}}
</article>
{{/each}}
<ul>
  {{#paginate current=current pages=pages}}{{/paginate}}
</ul>