<h2>{{post.title}}</h2>
<img src="/uploads/{{post.file}}" alt="">
{{{post.body}}}
<hr>
{{#if post.allowComments}}
<form action="/comment" method="post">
  <label for="comment">Leave a Comment:</label>
  <textarea name="body" id="comment" rows="3"></textarea>
  <input type="text" name="user">
  <input type="hidden" name="id" value="{{post._id}}">
  <button type="submit">submit</button>
</form>
{{#if post.comments}}
<ul>
  {{#each post.comments}}
  <li>
    <i><strong>{{user}}</strong>, {{generateDate date 'DD/MM/YYYY'}}</i>
    <p>{{body}}</p>
  </li>
  {{/each}}
</ul>
{{/if}}
{{/if}}
