<h2>Comments</h2>
<table>
  <thead>
    <tr>
      <th>author</th>
      <th>content</th>
      <th>Status</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each comments}}
    <tr>
      <td>{{user}}</td>
      <th>{{body}}</th>
      <td>
        <form action="/admin/comments/approve-comment" method="post">
          <input type="hidden" name="id" value="{{_id}}">
          <input type="hidden" name="approveComment" value={{#if approveComment}} false {{else}} true {{/if}}>
          <button type="submit">{{#if approveComment}} hide {{else}} show {{/if}}</button>
        </form>
      </td>
      <td>{{generateDate date 'MMMM Do YYYY'}}</td>
      <td>
        <form action="/admin/comments/{{id}}?_method=DELETE" method="post">
          <button type="submit">delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>